.slider {
    position: relative;

    margin: 20px;
    max-width: 300px;

    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
}


.slider .progress {
    height: 5px;
    border-radius: 5px;
    background-color: goldenrod;

    position: absolute;
}

.rangeInput input {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 5px;
    width: 100%;

    background: none;
    appearance: none;
    pointer-events: none;
}

.rangeInput input:disabled::-webkit-slider-thumb {
    background-color: #ddd;
}

.rangeInput input:disabled::-moz-range-thumb {
    background-color: #ddd;
}

.rangeInput input::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    appearance: none;
    background-color: #0a0a0a;
    pointer-events: auto;
}

.rangeInput input::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    appearance: none;
    background-color: #0a0a0a;
    pointer-events: auto;
}
